.container {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    background-color: #F2F2F2;
  
    form {
      display: flex;
      flex-direction: column;
      padding: 1rem !important;
      width: 500px !important;
      border: 1px solid whitesmoke !important;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      border-radius: 10px !important;
  
      @media (max-width: 768px) {
        width: 90% !important; 
        margin: 0 auto;
      }
    }
  }
  
  .img-login {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  h1 {
    margin: 0 !important;
  }
  
  .text-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
      strong{
        color:#035159 !important;
      }
    }
    small{
      color:#035159 !important;
    }
  }
  
  .div-email,
  .div-password {
    display: flex;
    flex-direction: column;
    padding: 1rem !important;
    color:#035159 !important;
    small {
      color: red !important;
    }
  }
  
  .btn-login {
    cursor: pointer !important;
  }